# ======================= LOCAL =======================
NODE_ENV=development
PORT=5000
DATABASE_URL=postgresql://postgres:votre_mot_de_passe@localhost:5432/victoirehouse_db
JWT_SECRET=VictoireHouse_JWT_Secret_2024_TresLongEtSecurise_NordKivu_RDC
JWT_EXPIRES_IN=8h
FRONTEND_URL=http://localhost:3000

# ===================== PRODUCTION =====================
# Sur Render / VPS :
# NODE_ENV=production
# PORT=10000
# DATABASE_URL=postgresql://user:pass@host:5432/dbname    (Render Postgres, Supabase Pooler...)
# JWT_SECRET=une_vraie_cle_longue_et_aleatoire
# JWT_EXPIRES_IN=8h
# FRONTEND_URL=https://votre-frontend.onrender.com       (domaine du Static Site)
#
